<% include shaders/smoke-vertex-shader.ejs %>
<% include shaders/smoke-fragment-shader.ejs %>

<div id="display-area">
  <div class="display-text-area">
    <h1 class="main-header">Energy Planet ⚡</h1>
    <p class="description-area">Displays each countries use of renewable energy.
    Less smoke means more renewable energy is being used in that area.
    </p>
    <div id="hackbit-vote-widget"></div>
  </div>
  <canvas id='display-canvas'></canvas>

  <% include year-selector.ejs %>
  <% include footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/_js/three.js"></script>
  <script src="/assets/dist/main.js"></script>

  <script src="https://www.nodeknockout.com/entries/335-stewart/vote.js" type="text/javascript"></script>


  <script>
    $('.hb-link img').attr('src', 'https://hackbit-nko2017.s3.amazonaws.com/images/nko-logo.png');
    $('.hb-vote-btn').css('margin-top', '10px');
  </script>
</div>
