<% include shaders/smoke-vertex-shader.ejs %>
<% include shaders/smoke-fragment-shader.ejs %>

<div id="display-area">
  <p>Energy Planet <span id='camera-data'></span></p>
  <canvas id='display-canvas'></canvas>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/_js/three.js"></script>
  <script src="/assets/dist/main.js"></script>
</div>
