<html>
  <head>
    <title>Energy Planet</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Inconsolata" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link rel="stylesheet" href="/assets/_css/foundation-sites/foundation.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
  </head>
  <body>
    <% include main-area.ejs %>

  </body>
</html>
