<p>List of sources</p>
<ul>
  <li>World Renewable energy data source: https://data.worldbank.org/indicator/EG.FEC.RNEW.ZS?year_high_desc=false</li>
  <li>Star skybox: https://forum.unity.com/threads/space-skybox.99258/</li>
  <li>WebGL noise: https://github.com/ashima/webgl-noise</li>
  <li>Earth: http://learningthreejs.com/blog/2013/09/16/how-to-make-the-earth-in-webgl/</li>
  <li>ThreeJS: https://threejs.org/</li>
</ul>
