<div class="year-selector-container">
  <div class="year-selector">
    <div id="current-year" class="selector-title">Present</div>

    <div class="selector-slider">
      <input type="range" min="1990" max="2014" value="2014" class="slider" id="year-range">
    </div>
  </div>
</div>
